/*
 * Assignment 02
 * CSS FILE
 */

/* SOURCES
- z-index: line 38, for keeping header on top layer of screen, https://www.browserstack.com/guide/position-text-over-image-using-css
- position:  for placement of elements, https://www.freecodecamp.org/news/css-positioning-position-absolute-and-relative/  
- anchor link offsets in html, https://www.will-myers.com/articles/anchor-link-offset-trick-in-squarespace
- vw: keep content size relative to viewport width, https://stackoverflow.com/questions/11777598/font-size-relative-to-the-users-screen-resolution
-

*/


/*Scroll-to animation when clicking on links*/
html{
  scroll-behavior: smooth;
}

/*Setting up basic page text color, background color, and fonts*/
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: black;
  color: white;
}
/*********************************HEADER************************************/
/*header postition and styling*/
/*header will always be visible on top of screen*/
header{
  display: flex;
  position: fixed;
  background-color: white;
  width: 100%;
  border-bottom: 2px solid #cec8c8;
  justify-content: space-between;
  /*setting it as highest element on the page*/
  z-index: 2;
  font-weight: 600;
}

/*sizing header image(comapny logo)*/
/*Size and aspect ratio will reamin the same no matter screen size*/
header img{
  width: 100px;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  align-self: center;

}

/*styling and postioning for header nav list*/
header nav ul{
  display: flex;
}

header nav ul li{
  list-style: none;
  margin: 1rem;
  align-self: center;
}

header nav ul li a{
  color: black;
  text-decoration: none;
  background-color: transparent;
  padding: 10px;
}

header nav ul li a:hover{
  color: white;
  text-decoration: overline;
  background-color: black;
  padding: 10px;
  border-radius: 1rem;
}

/*styling and positioning for h2 in header*/
header h2{
  align-self: center;
  text-align: center;
  justify-content: center;
  color: black;
}



/**********************************MAIN*************************************/
/*Spacing from top of screen for all content visibility since header is fixed to top*/
main{
  padding-top: 3.9rem;
}

/*styling and positioning table of contents(toc)*/
.tocbackground{
  width: 100%;
  background-color: white;
  padding-top: 4vw;
}

.toc-container{
  display: grid;
  align-items: center;
  justify-items: center;
  color: black;
  width: 100%;
}

.toc{
  width: 25vw;
  border: 5px solid black;
  background-color: white;
  padding: 1.5vw;
  padding-bottom: 3vw;
  align-items: center;
  border-radius: 1vw;
  font-size: 1.5vw;
  text-align: center;
}

.toc ul{
  margin-top: 1vw;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.toc ul li{
  margin-bottom: 0.5vw;
}

.toc ul li a{
  color: black;
  font-size: 1.5vw;
  font-weight: 300;
}

.toc ul li a:hover{
  color: white;
  background-color: black;
  text-decoration: overline;
  border-radius: 0.5vw;
  padding: 0.5vw;
  font-size: 1.5vw;
  font-weight: 300;
}

/*Fixing background on banner image since it has transparency*/
main img{
  background-color: white;
}

/*Setting up hero section*/
.hero{
  display: relative;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative;
}

.hero img{
  width: 100%;
 
}

/*positoning and styling h1*/
.hero h1{
  position: absolute;
  padding: 2vw;
  top: 15%;
  max-width: 50%;
  font-size: 4vw;
  color: white;
}

/*positioning and styling hero paragraph*/
.hero p{
  position: absolute;
  padding: 2vw;
  top: 37%;
  max-width: 50%;
  font-size: 2.5vw;
  color: white;
}

/*Styling for call to action section*/
.cta-container{
  padding-top: 3vw;
  padding-left: 18vw;
  padding-right: 8vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cta-text{
  text-align: end;
  font-size: 1.6vw;
  padding-bottom: 0.5rem;
}

.cta-image{
  max-width: 70%;
  height: auto;
}

/*contact us styling*/
main .contact-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 9vw;
}

main .cta a{
  color: black;
  background-color: white;
  border-radius: 1rem;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.6vw;
  margin: 1vw;
  padding: 0.5vw;
}

.cta a:hover{
  background-color: black;
  color: white;
  border-radius: 0rem;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

/*effect I tried for changing contents of the contact link*/
/*there's probably a better way to do this, but this is all I managed exploring on my own*/
.cta a:hover:before{
  content: ">";
}

.cta a:hover:after{
  content: "<";
}

/*FAQ styling*/
.faq h2{
  text-align: center;
  font-size: 2.7vw;
  font-weight: 300;
  letter-spacing: 5vw;
}

.faq p{
  font-size: 2.7vw; 
  text-align: center;
  margin-top: 4vw;

}

.faq-list{
  list-style: none;
  margin-bottom: 13vw;
}

.question{
  border: 3px solid #a5a5a5;
  padding: 1vw;
  background-color: white;
  color: #3f3f3f;
  font-size: 2vw;
  margin-right: 22vw;
  margin-left: 22vw;
}

.question b{
  margin-left: 3rem;
}

.answer{
  padding: 1.5rem;
  background-color: #c9c6c6;
  font-size: 2vw;
  margin-right: 22vw;
  margin-left: 22vw;
  margin-bottom: 2vw;
  border-bottom-left-radius: 0.3vw;
  border-bottom-right-radius: 0.3vw;
}

.answer li{
  margin-left: 3vw;
  list-style: square;
}

.answer a{
  color: #636262;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.7vw;
}

.answer a:hover{
  color: white;
  font-weight: 600;
  text-decoration: underline;
}

/*Styling for pricing section*/
main .price h2{
  margin-top: 2vw;
  text-align: center;
  font-size: 2.7vw;
}

/*Pricing boxes*/
.pricecontainer{
  display: grid;
}

/*style for each container*/
.pricecontainer td{
  border: 3px solid white;
  background-color: white;
  border: 2px solid black;
  border-radius: 0.4vw;
  color: black;
  font-size: 2vw;
  padding: 2.7vw;
  vertical-align: top;
}

/*styling for list in price containers*/
.pricecontainer ul{
  font-weight: 200;
  list-style-type: square;
}

/*Contact text styling and positioning*/
.contactcontent{
  display: flex;
  justify-content: space-around;
  padding: 10%;
}

.contactcontent h2{
  font-size: 3.5vw;
  margin: 1rem;
}

.contactcontent p{
  font-size: 1.5vw;
  margin: 1rem;
}

.textcontact{
  background-color: white;
  color: black;
  border: 3px solid #cec8c8;
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: 100%;
  margin-right: 7%;
}

/*Styling and positioning for contact form*/
form{
  padding: 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
  border: 3px solid #cec8c8;
  color: black;
  display: inline-block;
  width: 100%;
}

/*form title*/
.ftitle{
  font-weight: 600;
  font-size: 1rem;
}

fieldset{
  border: 2px solid #8b8686;
  font-size: 1.1vw;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

label{
  display: block;
  margin-bottom: 5px;
}

/*FOR VISUALIZING OFFSETS*/
/*
main .offsetabt{
  border: 3px solid rgb(200, 255, 0);
}

main .offsetcta{
  border: 3px solid rgb(82, 215, 255);
}

main .offsetfaq{
  border: 3px solid rgb(120, 82, 255);
}

main .offsetprice{
  border: 3px solid rgb(235, 82, 255);
}

main .offsetcontact{
  border: 3px solid red;
}
*/

/*********************************FOOTER************************************/
/*footer postition and styling*/
footer{
  padding-top: 0.1rem;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 100%;
  justify-content: space-around;
  font-weight: 600;
}

/*banner size and width*/
.footbanner{
  width: 100%;
  max-height: 100%;
  margin-top: 0.1rem;
}

/*Styling and positioning for content in the footer*/
.fcontent{
  display: flex;
  justify-content: space-between;
  
}

footer h2{
  align-self: center;
  text-align: center;
}

/*Styling and positioning for footer nav list*/
footer ul{
  display: flex;
} 

footer ul li{
  list-style: none;
  margin: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-self: center;
}

footer ul li a{
  color: #cec8c8;
  text-decoration: none;
  background-color: transparent;
  padding: 10px;
}

/*Hover effects for <a> tags in footer*/
footer ul li a:hover{
  color: black;
  text-decoration: overline;
  background-color: white;
  padding: 10px;
  border-radius: 1rem;
}

footer .copyright{
  margin-left: 1.5rem;
  font-weight: 200;
  color: #cec8c8;
}